header {
    .coliseoimg {
        width: 70px;
    }
    .menucolor {
        color: #e9ecef;
    }
    .nav-link {
        position: relative;
        left: 14px;
    }
    .imagen-coli {
        position: relative;
        top: 9px;
        width: 70px;
    }
    .coliseo-img {
        width: 50px;
    }
    .navbar-collapse {
        transition: 2s;
    }
}
